
html, body {
  width: 100%;
  height: 100%;
  background-color: #ADD8E6;
}

* {
  margin: 0;
  padding: 0;
}

#heading {
  margin: auto;
  background-color: #FFFFFF;
  display: flex;
  height: 80%;
  width: 80%;
}

#headerimage {
  margin: auto;  /* Magic! */
  max-width: 100%;
  max-height: 100%;
}
#main {
padding-left: 30px;
}
#showAvailableBoots , #addBootStock {
border-radius: 0.2em;
border-color: blue;
border: 2px solid #566c73;
background-color: white;
  font-size: 1em;
}
#addBoot {
font-size: 1em;
}
#filtering {
  float: left;
}
#adding {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  display: none;
}
