
html, body {
  background-color: #ADD8E6;
}

* {
  margin: 0;
  padding: 0;
}

input[type='button']{
  border-radius: 0.2em;
  border-color: blue;
  border: 2px solid #566c73;
  background-color: lightgrey;
  font-size: 1.2em;
  padding: 8px;
  margin: 5px;
}

select  {
  border-radius: 0.2em;
  border-color: blue;
  border: 2px solid #566c73;
  background-color: lightgrey;
  font-size: 1.2em;
}
.mainmenu {
height: 50%;
width: 50%;
margin: auto;
padding-left: 50px;
}
.heading {
  margin: auto;
  background-color: #FFFFFF;
  display: flex;
  height: 80%;
  width: 80%;
}
.headerimage {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
table {
    width : 50%;
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    text-align: left;
}

tr:nth-child(even) {background-color: white}

th {
    background-color: white;
    color: black;
}


.container {
    width : 1024px;
    margin : auto;
    padding : 1em;
    box-sizing: border-box;
}

.add {
  width: 40%;
  padding: 50px 0;
  text-align: center;
  background-color: white;
  margin-top: 5px;
  display: none;
  
}

.display {
display: none;
}

.field {
    padding : 0.25em;
}

.field label {
    display: inline-block;
    /*background-color: #fff;*/
    width : auto;
    text-align: right;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

.filters {

}

.field input[type='text']{
    padding : 0.5em;
}
